<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
<link rel="stylesheet" type="text/css" href="../css/api.css" />
<link rel="stylesheet" type="text/css" href="../css/common.css" />
<link rel="stylesheet" type="text/css" href="../css/weui.min.css" />
<style>
	html,body{
		-webkit-touch-callout:none;
		-webkit-text-size-adjust:none;
		-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
		-webkit-user-select:none;
	}
    .flex1{
        -webkit-box-flex:1;
    }
    .-webkit-box{
        display:-webkit-box;
    }
    .-webkit-box-vertical{
        -webkit-box-orient:vertical;
    }
    .-webkit-box-center{
        -webkit-box-pack:center;
        -webkit-box-align:center;
    }
    .break-word{
        word-wrap:break-word;
    }
    .-webkit-box-pack-end{
        -webkit-box-pack:end;
        -webkit-box-align:center;
    }
</style>
</head>
<body ontouchmove="Scroll()" mousemove="Scroll()">
    <div id="app" class="page__bd page_padding">
        <div class="weui-panel weui-panel_access">
        <ul class="weui-panel__bd pro_list">
            <li v-for="item in item.list">
                <a href="javascript:void(0);" v-bind:data-title="item.name" v-bind:data-url="item.url" tapmode onclick="toWeb(this);" data-frameName="" class="weui-media-box weui-media-box_appmsg">
                    <i v-if="item.isHot === '1'" class="isHot">热</i>
                    <div class="weui-media-box__hd">
                        <img class="weui-media-box__thumb" :src="item.logo" alt="">
                    </div>
                    <div class="weui-media-box__bd">
                        <h4 class="weui-media-box__title">{{ item.name }}</h4>
                        <span class="right"><em class="orange">{{ item.totalnumber }}</em> 成功借款</span>
                        <div class="weui-flex">
                            <div class="weui-flex__item"><div class="val orange">{{ item.amount }}元</div><div class="placeholder">贷款额度</div></div>
                            <div class="weui-flex__item text-center"><div class="val">{{ item.timelimit }}</div><div class="placeholder">贷款期限</div></div>
                            <div class="weui-flex__item text-right"><div class="val">{{ item.rate }}</div><div class="placeholder">贷款利率</div></div>
                        </div>
                        <p class="weui-media-box__desc">{{ item.desc }}</p>
                    </div>
                </a>
            </li>
        </ul>
        </div>
    </div>
</body>
<script src="../script/api.js"></script>
<script src="../script/global.js"></script>
<script src="../script/vue.min.js"></script>
<script src="../script/axios.min.js"></script>
<script>
    var app = new Vue({
        el:'#app',
        data:{
            title:'Vue + axios',
            item:'loading'
        },
        created:function(){
            var self = this;
            axios.get('../api/prolist.json')
            //axios.get('http://192.168.10.68/product/list?type=1')
            .then(function (response) {
                console.log("axios",response.data.data);
                self.item = response.data.data;
            }).catch(function (error) {
                console.log(error);
								alert("服务器忙")
            });
        }
    });

apiready = function () {
	api.setRefreshHeaderInfo({
		visible: true,
		loadingImg: 'widget://image/refresh.png',
		bgColor: 'rgba(0,0,0,0)',
		textColor: 'rgba(255,255,255,0.5)',
		textDown: '下拉刷新',
		textUp: '释放刷新'
	}, function(ret, err){
				loadData();
					app();
	});
	api.addEventListener({name: 'scrolltobottom'}, function(ret, err){
			loadData();
	});
}

	// --------------------------------------------

	function loadData(){
	    api.refreshHeaderLoadDone();
	    var content = $api.byId('app');
	    $api.append(content,$api.html(content));
	    api.parseTapmode();
	}

	// -------------------------------------------

	/* 微博分享. */
	function sinaWiebo(){
		/* 试试微博分想功能*/
        var rgistUrl = 'http://www.apicloud.com';
        var oldeAppId = '2691317466';
        var sinaWeiBo = api.require('sinaWeiBo');
        sinaWeiBo.auth({
           appId: oldeAppId,
            redirectUrl:rgistUrl
        },function(ret,err){
            if (ret.status) {
		        sinaWeiBo.sendRequest({
		            contentType: "text",
		            text: "APICloud新浪微博模块试用:真的可以发微博?"
		        },function(ret,err){
		            if (ret.status) {
		                api.alert({
		                    title: '发表微博',
		                    msg: '发表成功',
		                    buttons: ['确定']
		                });
		            }else{
		                api.alert({
		                    title: '发表微博',
		                    msg: err.msg,
		                    buttons: ['确定']
		                });
		            };
		        });
            }else{
                api.alert({msg:err.msg});
            }
        });
	}

	// -----------------------------------------
</script>
</html>
