
html,body,header,section,footer,div,ul,ol,li,img,a,span,em,del,legend,center,strong,var,fieldset,form,label,dl,dt,dd,cite,h1,h2,h3,h4,h5,h6,p,figure,figcaption,code,mark,hr,time,applet,object,iframe,blockquote,pre,abbr,acronym,address,big,dfn,ins,kbd,q,s,samp,small,strike,sub,sup,tt,b,u,i,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,hgroup,menu,nav,output,ruby,summary,audio,video,dialog{
	margin:0;
	padding:0;
	border:0;
	color:#333;
	/*font-family: Tahoma, Geneva, sans-serif;*/
	font-family: -apple-system-font,Helvetica Neue,Helvetica,sans-serif;
	font-style:normal;
}

html,body {
	-webkit-touch-callout:none;
	-webkit-text-size-adjust:none;
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
	-webkit-user-select:none;
}

html,body{
	height: 100%;
	width:100%;
}

input,button,textarea {
	border:0;
	margin:0;
	padding:0;
	font-size:1em;
	line-height:1em;
	/*-webkit-appearance:none;*/
	background-color:rgba(0, 0, 0, 0);
}

footer,header,section,nav,article,aside,details,main,dialog,menu,a,label,strong,var,em,del,time,figcaption,figure,pre,img,small,mark,cite,code,fieldset,button{
	display:block;
}

img,a,button,em,del,strong,var,label,cite,small,time,mark,code,textarea{
	display:inline-block;
}
header,section,footer {
	position:relative;
}
ol,ul{
	list-style:none;
}

span{
	display:inline-block;
}
a:active, a:hover {
  outline: 0;
}
a, a:visited{
	text-decoration:none;
}

label, .wordWrap{
    word-wrap: break-word;
    word-break: break-all;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,th {
  padding: 0;
}

.clearfix:after{
	content: ' ';
	display: block;
	clear: both;
	visibility:hidden;
	line-height: 0;
	height:0;
}

.loading_more{
	display: block;
	height: 1.5em;
	width: 100%;
}
.loading_more:before {
	background-image: url(../image/loading_more.gif) 30% center;
	background-repeat: no-repeat;
	background-size: contain;
	text-align: center;
}
.loading_more:after {
	content: '加载更多';
}

/*main.css*/



.hide{display:none}

#app{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	min-height:100%;
	overflow:hidden;
	background:-webkit-gradient(linear, 0 0, 0 bottom, from(#fb6900), to(#ffa854));
}

input[type="radio"]{
	display:none!important;
}
#app,#header menu,form,#app > footer,#app > footer > div{
	display:-webkit-box !important;
	display: box !important;
}
#app{
	-webkit-box-orient: vertical;
	box-orient: vertical;
}

#header,#content,#footer{
	position:relative;
	overflow:hidden;
}
#header > div{
	height:2.8125em;
	line-height:2.8125em;
}
#content,form a,#shops ol,#app > footer div,#shop_item,#shop_item li{
	box-flex:1;
	-webkit-box-flex:1;
}

#header{
	-webkit-background-size: auto 2.8125em;
	color: #fff;
}


#header input[type="radio"] + div{
	display:none;
}
#header input[type="radio"]:checked + div{
	display:-webkit-box;
}
#header > div > a{
	/*position:absolute;
	top:0;	*/
	height:2.8125em;
	background-repeat:no-repeat;
	background-position:center;
	overflow:hidden;
}
#header > div > a.active{

}
#header .search{
	width:60px;
	background-image:url(../image/btn_search_bg.png);
	-webkit-background-size:30px;
}
#header .gossip{
    width:60px;
	background-image:url(../image/btn_gossip_bg.png);
	-webkit-background-size:30px;
}
.input-search{
    margin-top: 6%;
    height: 56%;
    background: url('../image/btn_search_bg.png') left center no-repeat no-repeat;
    background-size: 2em;
    margin-left: 1em;
    border: 1px solid #bebebe;
    background-color: rgb(195, 172, 207);
    border-radius: 51px;
}
.add-package{
    background-image:url(../image/btn_add_connection_normal.png);
    -webkit-background-size:30px;
}
/*foot-tab-style*/
#footer a{display: block;}
#footer form{
	padding-top:0.5625em;
	height:2.5625em;
	background: #f8f8f8;
	-webkit-background-size:auto 3.125em;
	font-weight:200;
}
#footer:before{
	content: " ";
	position: absolute;
	left: 0;
	top: -1px;
	right: 0;
	height: 1px;
	border-top: 1px solid #CCCCCC;
	color: #CCCCCC;
	-webkit-transform-origin: 0 100%;
	transform-origin: 0 100%;
	-webkit-transform: scaleY(0.5);
	transform: scaleY(0.5);
}
#footer input[type="radio"] + a p{
	width:100%;
	height:1.4375em;
	background-repeat:no-repeat;
	background-position:center top;
	-webkit-background-size:auto 1.4375em;
	-webkit-transition-duration:200ms;
}

.home{background-image:url('../image/tab_home_normal.png');}
.jobs{background-image:url('../image/tab_new_normal.png');}
.contacts{background-image:url('../image/tab_pass_normal.png');}
.myself{background-image:url('../image/tab_myself_normal.png');}

#footer input[type="radio"]:checked + a p.home,.homeActive .home{
    background-image:url('../image/tab_home_selected.png');
}
#footer input[type="radio"]:checked + a p.jobs,.jobsActive .home{
    background-image:url('../image/tab_new_selected.png');
}
#footer input[type="radio"]:checked + a p.contacts,.contactsActive .home{
    background-image:url('../image/tab_pass_selected.png');
}
#footer input[type="radio"]:checked + a p.myself,.myselfActive .home{
    background-image:url('../image/tab_myself_selected.png');
}

.homeActive,.jobsActive,.contactsActive,.myselfActive{
    height: 1.4375em;
    background-repeat: no-repeat;
    background-position: center top;
    -webkit-background-size: auto 1.4375em;
		opacity:1;
}

#footer input[type="radio"] + a center{
	font-size:0.75em;
	color:#7d7f82;
	-webkit-transition-duration:200ms;

}
#footer input[type="radio"]:checked + a center{
	opacity:1;
	color:#fd872d;
}

/*page-content*/

.headbar_title{text-align: center;color: #fff;height: 2.8125em;}


.loader {
  margin: 1em auto;
  font-size: 12px;
  position: relative;
  text-indent: -9999em;
  border-top: .2em solid rgba(255, 255, 255, 0.2);
  border-right: .2em solid rgba(255, 255, 255, 0.2);
  border-bottom: .2em solid rgba(255, 255, 255, 0.2);
  border-left: .2em solid #ffffff;
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 1.6em;
  height: 1.6em;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.loadmore{text-align: center;padding-bottom: 10px;}
.loadmore span{color: #fff;font-size: 12px;}
