<?xml version="1.0" encoding="UTF-8"?>

<widget id="A6053606608623" version="0.0.1">
  <name>借贷超市</name>
  <description>借贷超市</description>
  <author email="artskin@163.com" href="https://github.com/artskin">artskin</author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="pageBounce" value="true"/>
  <preference name="appBackground" value="rgba(0,0,0,0)"/>
  <preference name="windowBackground" value="/rgba(0,0,0,0.0)"/>
  <preference name="frameBackgroundColor" value="rgba(0,0,0,0.1)"/>
  <preference name="hScrollBarEnabled" value="true"/>
  <preference name="vScrollBarEnabled" value="true"/>
  <preference name="autoLaunch" value="true"/>
  <preference name="fullScreen" value="false"/>
	<preference name="smartUpdate" value="false" />

	<preference name="debug" value="false"/>
  <preference name="iOS7StatusBarAppearance" value="true"/>
  <preference name="StatusBarAppearance" value="true"/>
  <preference name="customRefreshHeader" value="UIPullRefresh"/>
  <preference name="autoUpdate" value="true"/>
  <permission name="readPhoneState"/>
  <permission name="call"/>
  <permission name="sms"/>
  <permission name="camera"/>
  <permission name="record"/>
  <permission name="location"/>
  <permission name="fileSystem"/>
  <permission name="internet"/>
  <permission name="bootCompleted"/>
  <permission name="hardware"/>
  <permission name="contact"/>
  <feature name="weiXin">
    <param name="urlScheme" value="wx8a979365721f511f"/>
    <param name="apiKey" value="wx8a979365721f511f"/>
  </feature>
  <feature name="sinaWeiBo">
    <param name="urlScheme" value="wb2691317466"/>
    <param name="apiKey" value="2691317466"/>
    <param name="rgistUrl" value="http://www.apicloud.com"/>
  </feature>
  <feature name="pushGeTui">
    <param name="ios_appkey" value="E5Ydudltmh9CNivALrenc9" />
    <param name="ios_appid" value="3ZxZ2A1vSD98j55usouwM7" />
    <param name="ios_appsecret" value="lHIJwAz1dNA2GPWbdMtb89" />

    <param name="android_appkey" value="E5Ydudltmh9CNivALrenc9" />
    <param name="android_appid" value="3ZxZ2A1vSD98j55usouwM7" />
    <param name="android_appsecret" value="lHIJwAz1dNA2GPWbdMtb89" />
    <param name="android_groupid" value="" />
  </feature>
  <feature name="ajpush">
      <param name="app_key" value="27c0194282232aed969a6e0b" />
      <param name="channel" value="artskin_channel" />
  </feature>
</widget>
